{:deps true
 :dev-http {8080 "public"}
 :builds {:app
          {:target :browser
           :modules {:main {:entries [app.main]
                            :init-fn app.main/init}}
           :devtools {:preloads [uix.preload devtools.preload]}}}}

